API_ID="22257865"
API_HASH="97fc23c20e06f411abbf36cad8e118ce"
BOT_TOKEN="7409853903:AAGn_5ihoG1blEoZyFb7qsVSZH6spO9A5eY"
SESSION_STRING="BQC82pQVW5tol5oyUW_wiJHGfrymIhqwgIMd0-ZKybU4k_rjdkbuH0VNcO9Plpo1OWpApGqGnuV4OHmGUgJF9HA5jDBaM9ihQcIjo-Zosk26UWxnGOgI7F9iOGoGRPGxJuV5A1LjeY7eqawywPKo0jrKg1Qb3rK2ycmRDE-HaQLTTanVp3U9mI6LlFb91zPC2iEa_1YsB5Q-Kwd2lopjXakrBSjnPDu_nWgaAfuEaMsB983Mq2x3S_ccTM93MBIrkIKz8Ez29Q_sFakokn73mA7N2Bf8az7EciDBv0kk2I5afgdvTL34nkjk3dmSxMAemjZUnVslqvKH9bW3p-YchUA7YjRrDwA"
CHAT="-1002148198854"
ADMINS="1647602447 6814076888"
